*{
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    font-family: sans-serif;
}
/* answer buttons */
#ck-button {
     margin: 10px;
     border-radius: 4px;
     border: 1px solid rgb(126, 123, 123);
     overflow: auto;
     float: left;
     width: 300px;
     font-size: 1.4rem;
}
#ck-button:hover, #next-btn input:hover {
     background: red;
}
#ck-button label {
     float: left;
     width: 100%;
}
#ck-button label span {
     text-align: center;
     padding: 5px 0px;
     display: block;
}
#ck-button label input {
     position: absolute;
     top: -20px;
}
#ck-button input:checked + span {
     background-color: rgb(2, 95, 10);
     color: #fff;
}
/* question next button */
#next-btn input{
    height: 40px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid rgb(126, 123, 123);
    color: rgb(5, 5, 5);
    background-color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 1.5rem;
}
/* all index file containers */
.container{
    border: 5px solid #ffcc5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
}
/* index.php form */
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 0;
}
.form input{
    width: 296px;
    height: 30px;
    margin: 5px;
}
.form select{
    width: 300px;
    height: 30px;
    margin: 10px 0 20px;
}
.form .in-wi{
    width: 200px;
}
.form .in-wi:hover{
    background:  rgb(2, 95, 10);
    color: #fff;
}